<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807079331994-trik9s2h097fhr5tdub6tlak0qc9b3e9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807079331994-trik9s2h097fhr5tdub6tlak0qc9b3e9</string>
	<key>API_KEY</key>
	<string>AIzaSyDhKx5VCFAir7FQkBb63AsMMRDkPeowAFk</string>
	<key>GCM_SENDER_ID</key>
	<string>807079331994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.braer.Parkt</string>
	<key>PROJECT_ID</key>
	<string>parkt-63319</string>
	<key>STORAGE_BUCKET</key>
	<string>parkt-63319.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807079331994:ios:cdb2e21dc909d3b21e7723</string>
</dict>
</plist>